body{
  background-image: url("https://images.unsplash.com/photo-1531415074968-036ba1b575da?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1347&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.form-search{
    margin:30vh auto;
    text-align: center;

    font: bold 13px sans-serif;
     max-width: 70%;

}
.light{
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5));



}
img{
  border: 1px;
  border-radius: 5px;
  
}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
h1 {
  text-align: center;
  margin: 0 auto;
  color:white;
  font-size: 5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  max-width:50%;
  position: relative;
}
img:hover{
  opacity: 0.8;
}
h2,h3,h4,p{
  color:white;

}
.form-search input{
    width: 60%;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 15px 14px 40px;
    border: 1px solid #b6c3cd;;
    border-right: 0;
    color:#4E565C;
    outline: none;
    -webkit-appearance: none;
}

.form-search button{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  #6caee0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
}
.form-search button:hover{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color:  green;
    box-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.08);
    color: #ffffff;
    padding: 15px 22px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;

}

.form-search i{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 16px;
    color: #80A3BD;
}
